body{

  background-image: url("../src/images/react-icon-large.png");

  background-color: #282D35;
  background-repeat: no-repeat;
  background-position: 100% 110%;
  background-size: 150px 300px;
  /* height: 222.74px;
  width: 222.74px;
  top: 30px;
  left: 10px; */
  /* background-image: inherit; */
  /* background-image: initial; */
  /* background-image: revert; */
  /* background-image: revert-layer; */
  /* background-image: unset; */
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #21222A;
  width: 100%;
  height: 100%;




}
.nav-item {
  float: right;
  display: flex;
  width: 800;
  margin-right: 50px;


  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  /* line-height: 0px; */
  text-align: right;

  color: #DEEBF8;
}
/* this works */
/* .nav-item > * {
padding: 5px;
} */
/* you can also use this */
/* .nav-item > h3 {
  padding: 20px;
} */

.navbar > h2{
margin-right: auto;
  font-family: 'Inter';
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 40px;
  letter-spacing: -0.05em;

  color: #61DAFB;


}

.image {
  width: 60px;
  margin-left: 40px;

}
.image > h2 {
  padding: 20px;
}

.main-content {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    /* left: 20px; */
    /* top: 91px; */

}
.h1title{
  /* text-align: center; */
  width: 800px;
  height: 41px;
  margin-left: 20px;
  margin-top: 70px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 47px;
  letter-spacing: -0.05em;

  color: #FFFFFF;


}
.body_text {
  margin-left: 70px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  /* identical to box height */


  color: #FFFFFF;

}

li::marker{
width: 9.61px;
height: 9.61px;
font-size: 1.4em;
left: 51px;
top: 239px;

color: #61DAFB;

}
